body{
	margin: 2%;
}

tr,td{
	border: 1px solid black;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#suggestedBulbs{
	width: 100%;
	background-color:lightgray;
}

td.tdSuggestedBulb{
	padding: 1%;
}

#sideBySide{
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

td.innerSide{
	border: 1px solid black;
}

#fullTable{
	width: 100%;
	background-color: lightgray;
	text-align: center;
}

tr.fullFirst{
        background-color: #969696;
}

tr.fullSecond{
        background-color: lightgray;
}

td.bulbOne{
	background-color: blue;
}

td.bulbTwo{
	background-color: red;
}

span.bulbOne{
	color: blue;
}

span.bulbTwo{
	color: red;
}


.noDifference{
	background-color: black;
}
